Repository cezuriku/octo-couscous: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-clippy, cargo-test, cargo-update

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: cargo-check
      - id: fmt
        name: cargo fmt
  - repo: local
    hooks:
      - id: cargo-clippy
        name: cargo clippy
        description: Catch common mistakes and improve Rust code with a collection of lints.
        entry: cargo clippy --all-targets -- -D warnings
        language: system
        files: (Cargo.(toml|lock)|\.rs$)
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Execute unit and integration tests of Rust code.
        entry: cargo test
        language: system
        files: (Cargo.(toml|lock)|\.rs$)
        pass_filenames: false
      - id: cargo-update
        name: cargo update
        description: Check dependencies in the Cargo.lock file.
        language: system
        files: (Cargo.(toml|lock))
        pass_filenames: false
        entry: cargo update

feat: add protos files
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  godot_lib/Cargo.toml
  godot_lib/src/lib.rs
  protos/Cargo.toml
  protos/build.rs
  protos/src/lib.rs
  protos/src/messages.proto
  server_plugin/Cargo.toml
  server_plugin/src/lib.rs
Due: cargo-clippy, cargo-test, cargo-update

feat: add dummy client
  Cargo.lock
  Cargo.toml
  dummy_client/Cargo.toml
  dummy_client/src/main.rs
Due: cargo-clippy, cargo-test, cargo-update

build: update Cargo.lock
  Cargo.lock
Due: cargo-clippy, cargo-test, cargo-update

build: update pre commit hook
  .pre-commit-config.yaml
Due: none

build: set server the default binary to run
  server/Cargo.toml
Due: cargo-clippy, cargo-test, cargo-update

feat: send message from server to client
  godot_lib/src/lib.rs
  protos/src/lib.rs
  server_plugin/src/lib.rs
Due: cargo-clippy, cargo-test

feat: send initial gold to the client
  Cargo.lock
  godot_lib/src/lib.rs
  map_plugin/src/lib.rs
  map_plugin/src/systems/mod.rs
  protos/src/lib.rs
  protos/src/messages.proto
  server_plugin/Cargo.toml
  server_plugin/src/lib.rs
Due: cargo-clippy, cargo-test, cargo-update

feat: send new map details
  godot_lib/src/lib.rs
  map_plugin/src/resources/mod.rs
  protos/src/messages.proto
Due: cargo-clippy, cargo-test

build: update deps
  Cargo.lock
Due: cargo-clippy, cargo-test, cargo-update

feat: add goldmine creation and update map messages
  godot_lib/src/lib.rs
  map_plugin/src/systems/mod.rs
  protos/src/messages.proto
  server_plugin/src/lib.rs
Due: cargo-clippy, cargo-test

build(ci): remove check on cargo lock file
  .github/workflows/ci.yml
Due: none
